@use './abstract' as *;

.react-calendar {
  background: var(--background_1) !important;
  border-radius: 6px;
  font-family: $nunitoSans !important;
  border: 1px solid var(--separator) !important;
  box-shadow: 5px 30px 20px rgba(37,52,103,.11);

  button {
    border-radius: 6px;
  }
}

.react-calendar__tile:disabled,
.react-calendar__navigation button:disabled {
  background: var(--background_2) !important;
}

.react-date-picker__wrapper {
  border-radius: 6px;
  padding: 0 16px;
  border: 1px solid var(--separator) !important;
}

.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus,
.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
  background: var(--background_3) !important;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--call_to_action) !important;
}

.auction-date-picker {
  min-height: 60px;
  border-radius: 6px;
  width: 100%;
  flex: 1;
  background: var(--background_4);
}