<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330115361812-e08gsut6r3fepjt2qdii2oom66nf10i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330115361812-e08gsut6r3fepjt2qdii2oom66nf10i6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>330115361812-q0fuc0gaemk7aosb0vki7053enadd203.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLmGeWJoDQbFTieAbrS9e7r6RuKxxNMFU</string>
	<key>GCM_SENDER_ID</key>
	<string>330115361812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.biddoClient</string>
	<key>PROJECT_ID</key>
	<string>biddo-c37c3</string>
	<key>STORAGE_BUCKET</key>
	<string>biddo-c37c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330115361812:ios:30e1e36c4f9d97331e8b01</string>
</dict>
</plist>